<div class="card">
  <div class="card-header">
    <h4>Add New Friend</h4>
  </div>
  <div class="card-body">
<br/>
<%= render 'form', friends_list: @friends_list %>
<br/>
<%= link_to 'Back', friends_lists_path, class:"btn btn-dark" %>

  </div>
</div>

